.grid-container {
    display: flex;
    flex-wrap: wrap;
}
.grid-item {
    margin: 50px;
    padding: 20px;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    transition: background-color 1s;
}

.grid-item:hover {
    background-color: purple;
}